body {
  padding: 13% 27%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(https://hostr.co/file/Xjt1JLMeDk5G/gbc-1080-teal-shadow.png) center center no-repeat;
  background-size: cover;
}
html {
 background-color: #9CBD0F;
}
