

a {
  color: #00B7FF;
}

.opponent {
  text-align: right;
}
img {
  height: 30vh;
}
h3 {
  text-transform: uppercase;
}
li {
  list-style: none;
}

.battlePoke {
  flex-direction: row;
}

#gameOverMenu {
  border: 2px solid black;
  background-color: grey;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index:1000;
}

#rematchMenu {
  border: 2px solid black;
  background-color: grey;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index:999;
}




@keyframes shake {
  0% {
    transform: rotateY(15deg);
  }
  100% {
    transform: skewY(-10deg);
  }
}


.pokeSelectElement a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
}

button {
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 1px solid #49a5bf;
  background: #49a5bf;
  color: #fff;
  font-size: 12pt;
}
