body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.opponent {
  text-align: right;
}

h3 {
  text-transform: uppercase;
}
li {
  list-style: none;
}

.battlePoke {
  flex-direction: row;
}

/*#endResultDiv {
  display: none;
}*/

#gameOverMenu {
  border: 2px solid black;
  background-color: grey;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index:1000;
}

#rematchMenu {
  border: 2px solid black;
  background-color: grey;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index:999;
}

.pokeSelectContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.pokeSelectElement {
  z-index: 1;
  background-color: bisque;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  width: 30%;
  max-width: 400px;
}

.pokeSelectElement:hover {
  z-index: 100;
  background-color: cyan;
  box-shadow: 0 15px 15px rgba(0,0,0,0.7);
  position: offset;
  transform: skew(20deg);
  animation: shake 2s infinite;
  animation-direction: alternate;
}

@keyframes shake {
  0% {
    transform: rotateY(15deg);
  }
  100% {
    transform: skewY(-10deg);
  }
}


.pokeSelectElement a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
}

button {
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 1px solid #49a5bf;
  background: #49a5bf;
  color: #fff;
  font-size: 12pt;
}
