doctype html
html
  head
    script(type="text/javascript" src="node_modules/react/dist/react.js")
    script(type="text/javascript" src="node_modules/react-dom/dist/react-dom.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")

  body
    h1 Welcome to Pokemon Battle!

    div(id="entry-point")

    script(type="text/babel" src="javascripts/home.jsx")
